html, body {
  position: relative;
  width: 100%;
  height: 100%;
}
.btn {
  font-size: 18px;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: red;
  color: #fff;
  text-align: center;
  line-height: 100px;
}
/*进度条*/
.progress-layer {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.progress {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 569px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
.progressBar {
  height: 37px;
  position: relative;
  background: #ed1616;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 5px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.7);
  top: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.progressBar > span {
  display: block;
  height: 100%;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-image: -webkit-gradient(
    linear, 
    left bottom, 
    left top, 
    color-stop(0, rgb(43, 194, 83)), 
    color-stop(1, rgb(84,240,84))
  );
  background-image: -moz-linear-gradient(
    center bottom, 
    rgb(43, 194, 83) 37%, 
    rgb(84,240,84) 69%
  );
  position: relative;
  overflow: hidden;
}

.progressBar > span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, 
    color-stop(0.25, rgba(255, 217, 8, 0.6)), 
    color-stop(0.25, rgba(255, 188, 8, 0.6)), 
    color-stop(0.5, rgba(255, 188, 8, 0.6)), 
    color-stop(0.5, rgba(255, 217, 8, 0.6)), 
    color-stop(0.75, rgba(255, 217, 8, 0.6)), 
    color-stop(0.75, rgba(255, 188, 8, 0.6)),
    to(rgba(255, 188, 8, 0.6))
    );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
    animation: move 2s linear infinite;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
}
.controller-progress > span {
  background-color: #f0a3a3;
  background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0a3a3), color-stop(1, #f42323));
  background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 5px 5px; 
  }
}